.process {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.headerSlang {
    font-size: .95rem;
    color: #36C85F;
    font-weight: 700;
}

.headerTitle {
    font-size: 3rem;
    line-height: 100%;
    margin-top: .4rem;
}

.headerDescription {
    font-size: 1.1rem;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 2.5rem;
}

.each,
.eachDesign {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 5px;
    transition: .2s all linear;
}

.eachDesign {
    background-color: #36C85F;
    color: #ffffff;
}

.each:hover {
    background-color: #36C85F;
    color: #ffffff;
}

.eachOne,
.eachTwo,
.eachThree,
.eachFour {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: .8rem;
    background-color: pink;
    border-radius: 10px;
}

.eachOne {
    background-color: rgb(214, 78, 78);
}
.eachTwo {
    background-color: rgb(78, 214, 78);
}
.eachThree {
    background-color: rgb(214, 160, 78);
}
.eachFour {
    background-color: rgb(78, 194, 214);
}

.eachIcon {
    font-size: .85rem;
}

.eachTitle {
    font-size: 1.5rem;
}

.eachDescription {
    font-size: .85rem;
    max-width: 90%;
}

@media screen and (max-width: 480px) {
    .process {
        margin-bottom: 1rem;
    }
    .content {
        grid-template-columns: repeat(1, 1fr);
        padding: 0rem;
        gap: .5rem;
    }
    .headerTitle {
        font-size: 1.8rem;
    }
    .headerDescription {
        font-size: .95rem;
    }
}