.userNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userHeader {
    display: flex;
    flex-direction: column;
}

.headerTitle {
    font-size: 1.3rem;
    line-height: 100%;
}

.headerDescription {
    font-size: .7rem;
}

.logout {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    font-weight: 700;
    color: #36C85F;
    transition: .5s ease-in-out;
}

.logout:hover {
    transform: scale(1.1);
}